{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block body %}
<div class="container">
    <div class="jumbotron text-center">
        <h1><i class="fa fa-fw fa-ban"></i>ERROR<br><small>Algo habrás hecho!</small></h1>
        <hr>
        <p>Por tu torpeza se han desencadenado fuerzas impredecibles del inframundo.<br>Ha muerto un gatito.</p>
        <img class="custom-thumbnail" src="{{ asset('bundles/archmagegame/images/error.jpg') }}">
    </div>
</div>
{% endblock %}