{#
<footer class="footer navbar navbar-default navbar-inverse">
    <div class="container">
        <small class="navbar-text"><i class="fa fa-fw fa-lg fa-copyright"></i> Copyright</small>
    </div>
</footer>
#}
