{#
<footer class="footer navbar text-center text-responsive">
    <div class="container">
        <span class="navbar-text"><i class="fa fa-fw fa-lg fa-copyright"></i><a href="{{ path( 'archmage_game_home_about' ) }}" class="link">Acerca / About</a></span>
    </div>
</footer>
#}