<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container"><!--container-fluid-->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('archmage_game_home_index') }}">Arch<i class="fa fa-fw fa-lg fa-eye"></i>Mage</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-home"></i> Reino<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('archmage_game_kingdom_index') }}"><i class="fa fa-fw fa-lg fa-line-chart"></i> Resumen</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-globe"></i> Territorio<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-line-chart"></i> Resumen</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-search"></i> Explorar</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-wrench"></i> Construir</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-bomb"></i> Derribar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-home"></i> Magia<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-line-chart"></i> Resumen</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-tint"></i> Maná</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-magic"></i> Conjurar</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-graduation-cap"></i> Investigar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-home"></i> Militar<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-line-chart"></i> Resumen</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-check"></i> Contratar</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-ban"></i> Desbandar</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-crosshairs"></i> Atacar</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-lg fa-user"></i> Nombre<span class="fa fa-fw fa-lg fa-caret-down"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-fw fa-lg fa-sign-out"></i> Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{# block js #}
{% block javascripts %}
    <script>
        function help() {
            $('[data-toggle="popover"]').popover('toggle');
        };
    </script>
{% endblock %}