{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Mensajes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header text-center">
                    <h1>Mensajes <i class="fa fa-fw fa-lg fa-envelope"></i> <small>Bandeja de entrada</small></h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}