{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Enviar mensajes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header text-center">
                    <h1><i class="fa fa-fw fa-send"></i> Escribir</h1>
                </div>
                {% for i in 1..7 %}
                    {% if loop.index is odd %}
                        <div class="col-xs-7 alert alert-success text-right" role="alert">
                            Texto de <a href="#" class="alert-link">prueba</a> <i class="fa fa-fw fa-lg fa-caret-square-o-right"></i>
                        </div>
                    {% else %}
                        <div class="col-xs-offset-5 col-xs-7 alert alert-danger" role="alert">
                            <i class="fa fa-fw fa-lg fa-caret-square-o-left"></i> Texto de <a href="#" class="alert-link">prueba</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}