{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Perfil{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron text-center">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box-icon alert alert-warning">
                        <span class="fa fa-fw fa-4x fa-user"></span>
                    </div>
                    <div class="info">
                        <h1 class="text-center">Nick<small>#2345</small></h1>
                        <p>Texto de prueba</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}