{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Atacar{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-flag"></i>Atacar<br><small><i class="fa fa-fw fa-hourglass"></i>300</small></h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}