{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Desbandar{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header text-center">
                    <h1>Ejército <i class="fa fa-fw fa-lg fa-bar-chart"></i> <small>Desbandar</small></h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}