{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Desbandar{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12">
                <div class="page-header text-center">
                    <h1><i class="fa fa-fw fa-user-times"></i>Licenciar</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}