# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:    pdo_mysql
    database_host:      127.0.0.1
    database_port:      ~
    database_name:      symfony
    database_user:      root
    database_password:  ~
    mailer_transport:   smtp
    mailer_host:        smtp.strato.com
    mailer_port:        587
    mailer_user:        admin@wyzard.es
    mailer_password:    F3rg4rd1
    locale:             es
    secret:             ThisTokenIsNotSoSecretChangeIt
    telegram_token:     ThisTokenIsNotSoSecretChangeIt
    assets_version:     v1
