{% extends "ArchmageUserBundle::layout.html.twig" %}

{% block title %}Email{% endblock %}

{% block fos_user_content %}
    <div class="container">
        <div class="jumbotron text-center">
            {% include "ArchmageUserBundle::logo.html.twig" %}
            <br/>
            <p>Ese usuario ya ha solicitado recuperar la contraseña!</p>
            <br/>
            {% include "ArchmageUserBundle::factions.html.twig" %}
        </div>
    </div>
{% endblock %}
