{% extends "ArchmageUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div class="jumbotron text-center">
        {% include "ArchmageUserBundle::logo.html.twig" %}
        <form class="form-signin" data-toggle="validator" action="{{ path('fos_user_resetting_send_email') }}" method="POST">
            <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required />
            <button type="submit" id="submit" name="submit" class="btn btn-lg btn-default btn-block"><i class="fa fa-fw fa-lg fa-refresh"></i>Resetear</button>
        </form>
    </div>
</div>
{% endblock fos_user_content %}
