{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Acerca{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-question-circle"></i>Acerca</h1>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Hola</div>
                <div class="panel-body text-responsive text-only">
                    <p>He desarrollado este juego completamente desde cero para demostrar mis habilidades como desarrollador web. Para ello, he empleado los siguientes frameworks y herramientas de desarrollo:</p>
                    <p>I've completely developed on my own this game from scratch to show my coding skills as a web developer. Hence, I've used the following frameworks and developer tools:</p>
                    <br>
                    <a class="btn btn-sm btn-primary" href="http://symfony.com/">Symfony2</a>
                    <a class="btn btn-sm btn-primary" href="http://www.doctrine-project.org/">Doctrine2</a>
                    <a class="btn btn-sm btn-primary" href="http://getbootstrap.com/css/">Bootstrap3</a>
                    <a class="btn btn-sm btn-primary" href="https://jquery.com/">jQuery11</a>
                    <a class="btn btn-sm btn-primary" href="http://www.w3.org/TR/html5/">HTML5</a>
                    <a class="btn btn-sm btn-primary" href="http://www.w3.org/Style/CSS/current-work">CSS3</a>
                    <a class="btn btn-sm btn-primary" href="https://getcomposer.org/">Composer</a>
                    <a class="btn btn-sm btn-primary" href="http://bower.io/">Bower</a>
                    <a class="btn btn-sm btn-primary" href="https://git-scm.com/">Git</a>
                    <a class="btn btn-sm btn-primary" href="https://www.jetbrains.com/phpstorm/">PHPStorm</a>
                    <a class="btn btn-sm btn-primary" href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a>
                    <a class="btn btn-sm btn-primary" href="http://datatables.net/">DataTables</a>
                    <p>El ressultado que véis está colgado también en mi propio servidor de producción, una RaspberryPi2 montada usando:</p>
                    <p>The final result is also deployed in my own production server, a RaspberryPi2, using:</p>
                    <br>
                    <a class="btn btn-sm btn-primary" href="https://www.archlinux.org/">Arch Linux ARMv7</a>
                    <a class="btn btn-sm btn-primary" href="https://httpd.apache.org/">Apache2</a>
                    <a class="btn btn-sm btn-primary" href="https://mariadb.org/">MariaDB</a>
                    <a class="btn btn-sm btn-primary" href="http://php.net/">PHP5</a>
                    <p>Aunque el código fuente me pertenece, las imágenes no, ni saco ningún beneficio con ellas. No hay publicidad, y el único objetivo del juego es el de ser mi portfolio personal y complemento de mi currículum vitae. No obstante, si alguien desea que las elimine, no tiene más que comunicármelo. Normalmente las obtengo de:</p>
                    <p>Although all the source code belongs to me, images don't, nor I get profit from them. There are no adds, and the goal of this game is none but being my own personal portfolio and a complement of my curriculum vitae. However, if somebody wants any of them removed, just ask me to. I usually get them from:</p>
                    <br>
                    <a class="btn btn-sm btn-primary" href="http://www.deviantart.com/">DevianArt</a>
                    <a class="btn btn-sm btn-primary" href="https://images.google.com/">Google Images</a>
                </div>
                <div class="panel-footer text-center">
                    @fergardi
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}