{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Acerca{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-info-circle"></i>Acerca de</h1>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">W&yuml;z&auml;rd</div>
                <div class="panel-body text-responsive text-only">
                    <p>He desarrollado este juego completamente desde cero para mejorar mis habilidades como desarrollador web, basándome en un antiguo juego que solía divertirme hace muchos años: The Lord Archmage. Para ello, he empleado los siguientes frameworks y herramientas de desarrollo:</p>
                    <br/>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://symfony.com/">Symfony2</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://www.doctrine-project.org/">Doctrine2</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://getbootstrap.com/css/">Bootstrap3</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://jquery.com/">jQuery11</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://www.w3.org/TR/html5/">HTML5</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://www.w3.org/Style/CSS/current-work">CSS3</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://getcomposer.org/">Composer</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://bower.io/">Bower</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://git-scm.com/">Git</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://www.jetbrains.com/phpstorm/">PHPStorm</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://datatables.net/">DataTables</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://payum.org/">Payum</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://disqus.com/">Disqus</a>
                    <p>El resultado está colgado también en mi propio servidor de producción casero, una RaspberryPi2, usando:</p>
                    <br/>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://www.archlinux.org/">Arch Linux ARMv7</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://httpd.apache.org/">Apache2</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://mariadb.org/">MariaDB</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://php.net/">PHP7</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://letsencrypt.org/">Let's Encrypt</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://www.paypal.com/">PayPal</a>
                    <p>Todas las imágenes son libres, con Creative Commons Zero. Además, están optimizadas para la web:</p>
                    <br/>
                    <a class="btn btn-sm btn-primary" target="_blank" href="http://game-icons.net/">Iconos de GameIcons</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://unsplash.com/">Fondos de Unsplash</a>
                    <a class="btn btn-sm btn-primary" target="_blank" href="https://imageoptim.com/">ImageOptim</a>
                    <p>Un cariñoso saludo a todos aquellos que me han ayudado a hacer este juego posible. Nos vemos jugando!</p>
                </div>
                <div class="panel-footer text-center">
                    <i class="fa fa-fw fa-lg fa-twitter"></i><a href="{{ path('archmage_game_home_contact') }}" class="link">Contacto</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}