{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Acerca{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-edit"></i>Contacto</h1>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Disqus</div>
                <div class="panel-body text-only">
                    {{ knp_disqus_render('Wyzard', {'identifier': '/help#comentarios', 'limit': 100}) }}
                </div>
                <div class="panel-footer text-center">Modero severamente los comentarios, así que nada de chorradas!</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Twitter</div>
                        <div class="panel-body text-only">
                            <i class="fa fa-fw fa-3x fa-twitter" style="color: #55acee;"></i>
                            <p>Sígueme y compárteme con tus amigos!</p>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default" href="https://twitter.com/WyzardGame">@WyzardGame</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Facebook</div>
                        <div class="panel-body text-only">
                            <i class="fa fa-fw fa-3x fa-facebook-official" style="color: #3b5998;"></i>
                            <p>Es coña, en realidad paso totalmente de Facebook!</p>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default" href="#">No tengo Facebook</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Google+</div>
                        <div class="panel-body text-only">
                            <i class="fa fa-fw fa-3x fa-google-plus" style="color: #dc4e41;"></i>
                            <p>Es coña, en realidad paso totalmente de Google+!</p>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default" href="#">No tengo Google+</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">Instagram</div>
                        <div class="panel-body text-only">
                            <i class="fa fa-fw fa-3x fa-instagram" style="color: #3f729b;"></i>
                            <p>Es coña, en realidad paso totalmente de Instagram!</p>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-default" href="#">No tengo Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}