{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Bienvenid@{% endblock %}

{% block nav %}{% endblock %}

{% block body %}
    <div class="container">
        <br><br>
        <div class="jumbotron text-center">
            <h1>Arch<i class="fa fa-fw fa-lg fa-eye"></i>Mage</h1>
            <hr>
            <p>La guerra ha llegado a Arcadia</p>
            <br>
            <a class="btn btn-success btn-lg" href="{{ path('archmage_game_kingdom_summary') }}" role="button"><i class="fa fa-fw fa-lg fa-sign-in"></i> Acceder</a>
            <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-fw fa-lg fa-pencil-square-o"></i> Registrar</a>
        </div>
    </div>
{% endblock %}