{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Parches{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-medkit"></i>Parches</h1>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.8b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 8.</li>
                        <li>Ahora los <span class="label label-extra">Héroes</span> ya no duplican sus bonuses por nivel, sino que ganan el doble de experiencia en combate si son de tu color.</li>
                        <li>Ahora la habilidad <span class="label label-extra">Prisa</span> ya no incrementa la velocidad, sino que iguala la velocidad enemiga en un combate para atacar a la vez.</li>
                        <li>Ahora al intentar lanzar un <span class="label label-extra">Hechizo</span> en batalla, si no pasa las barreras enemigas, no consume maná, como ocurre con los <span class="label label-artifact">Artefactos</span>.</li>
                        <li>Se han modificado los siguientes <span class="label label-extra">Hechizos</span> de nivel 5:
                            <ul>
                                <li><span class="label label-danger">Infierno</span>, ahora destruye un -2% de <span class="label label-extra">Tropas</span> enemigas al azar por <i class="fa fa-fw fa-magic"></i>.</li>
                                <li><span class="label label-info">Tsunami</span>, ahora destruye un -1% de <span class="label label-extra">Tropas</span> enemigas al azar por <i class="fa fa-fw fa-magic"></i>.</li>
                                <li><span class="label label-primary">Palabra Santa</span> por <span class="label label-primary">Rayo de Luz</span>, ahora destruye un -1% de <span class="label label-extra">Tropas</span> enemigas al azar por <i class="fa fa-fw fa-magic"></i>.</li>
                                <li><span class="label label-success">Rayo de Sol</span> por <span class="label label-success">Enredaderas</span>, ahora destruye un -1% de <span class="label label-extra">Tropas</span> enemigas al azar por <i class="fa fa-fw fa-magic"></i>.</li>
                                <li><span class="label label-warning">Eclipse</span> por <span class="label label-warning">Cadena de Relámpagos</span>, ahora destruye un -1% de <span class="label label-extra">Tropas</span> enemigas al azar por <i class="fa fa-fw fa-magic"></i>.</li>
                            </ul>
                        </li>
                        <li>Se han añadido nuevos <span class="label label-legendary">Artefactos Legendarios</span>:
                            <ul>
                                <li><span class="label label-legendary">Amuleto Guerrero</span>, +50 de <span class="label label-extra">Experiencia</span> a tus <span class="label label-extra">Héroes</span> tras un combate.</li>
                                <li><span class="label label-legendary">Amuleto Erudito</span>, +20% de bonus de <span class="label label-extra">Investigación</span>.</li>
                                <li><span class="label label-legendary">Amuleto Exótico</span>, +1 <span class="label label-extra">Tierra</span> al <i class="fa fa-fw fa-hourglass-half"></i>.</li>
                                <li><span class="label label-legendary">Amuleto Rúnico</span>, +1% <span class="label label-artifact">Artefactos</span> encontrados al azar.</li>
                                <li><span class="label label-legendary">Amuleto Maldito</span>, -20% a todos los <span class="label label-extra">Bonuses</span> de tu Reino.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta abierta</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.7b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 7.</li>
                        <li>Ahora los <span class="label label-extra">Hechizos</span> totalmente investigados acumulan poder para tu Reino.</li>
                        <li>Se ha reducido a la mitad el coste de maná de todos los <span class="label label-extra">Hechizos</span> (aunque los que no sean de tu color seguirán costando el doble).</li>
                        <li>Se han reducido muchos bonuses de <span class="label label-extra">Hechizos</span>, pero ahora se ha eliminado el tope de nivel 5 de magia.</li>
                        <li>Se han reducido muchos bonuses de <span class="label label-extra">Héroes</span>, pero ahora los <span class="label label-extra">Héroes</span> de tu mismo color duplicarán sus bonuses por nivel.</li>
                        <li>Se ha reducido el <span class="label label-extra">Bonus de Facción</span> en combate (de 100% a 50%).</li>
                        <li>Se ha reducido el <span class="label label-extra">Bonus de Unidad</span> en combate (de 100% a 50%).</li>
                        <li>Ahora algunas tropas tienen <span class="label label-extra">Habilidades</span> especiales en combate:
                            <ul>
                                <li><span class="label label-extra">Regeneración</span>, resucita un 25% de sus unidades muertas tras el combate.</li>
                                <li><span class="label label-extra">Desvanecer</span>, tiene un 25% probabilidad de evadir completamente un ataque.</li>
                                <li><span class="label label-extra">Escamas</span>, reduce en un 25% los daños sufridos en un ataque.</li>
                                <li><span class="label label-extra">Locura</span>, aumenta un 25% de los daños inflingidos en un ataque.</li>
                                <li><span class="label label-extra">Prisa</span>, siempre ataca primero en un enfrentamiento.</li>
                            </ul>
                        </li>
                        <li>Ahora hay 3 tipos de ataques, con diferentes consecuencias en caso de victoria total:
                            <ul>
                                <li><span class="label label-extra">Conquista</span>: Anexa un 3% de las <span class="label label-extra">Tierras</span> enemigas a tu reino.</li>
                                <li><span class="label label-extra">Pillaje</span>: Roba un 6% del <span class="label label-extra">Oro</span>, <span class="label label-extra">Personas</span> y <span class="label label-extra">Maná</span> enemigos, además de una <span class="label label-artifact">Runa</span>.</li>
                                <li><span class="label label-extra">Asedio</span>: Destruye un 9% de las <span class="label label-extra">Tierras</span>, <span class="label label-extra">Oro</span>, <span class="label label-extra">Personas</span> y <span class="label label-extra">Maná</span> enemigos.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta abierta</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.6b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 6.</li>
                        <li>Se ha duplicado el bonus de experiencia de los <span class="label label-extra">Héroes</span> por combate ganado (de 25 a 50).</li>
                        <li>Se ha duplicado el coste base de investigación de todos los <span class="label label-extra">Hechizos</span> (de 50 a 100 turnos por nivel).</li>
                        <li>Se ha duplicado la duración base de todos los <span class="label label-extra">Encantamientos</span> (de 50 a 100 turnos por nivel).</li>
                        <li>Se ha duplicado la duración de todas las subastas (de 1h a 2h).</li>
                        <li>Se ha quintuplicado el <span class="label label-extra">Bonus de Facción</span> en combate (de 20% a 100%).</li>
                        <li>Se ha quintuplicado el <span class="label label-extra">Bonus de Uacción</span> en combate (de 20% a 100%).</li>
                        <li>Se ha duplicado la cantidad de tropas de todos los Dioses (de 100 a 200 <span class="label label-extra">Dragones</span>).</li>
                        <li>Se ha duplicado el bonus de <span class="label label-legendary">Anillo Invocador</span>, <span class="label label-legendary">Anillo Avaricioso</span>, <span class="label label-legendary">Anillo Encantador</span> y <span class="label label-legendary">Anillo Poderoso</span> (de 10% a 20%).</li>
                        <li>Se han eliminado del juego a los Jinetes del Apocalipsis. Ahora, cuando los Dioses se queden sin tropas, lanzarán el <span class="label label-extra">Apocalipsis</span>, y los jugadores tendrán alrededor de una semana para luchar por la primera posición del ranking, como viene siendo habitual.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta abierta</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.5b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 5.</li>
                        <li>Se ha eliminado del juego el encantamiento <span class="label label-extra">Apocalipsis</span>, los jugadores no podrán investigarlo ni conjurarlo.</li>
                        <li>Se ha cambiado la <span class="label label-extra">Ira de los Dioses</span> por <span class="label label-extra">Apocalipsis</span>. Ahora, al derrotar a todos los dioses, romperéis los sellos mágicos que detenían el fin del mundo. Luego, tendréis alrededor de una semana para superar a los Cinco Jinetes del Apocalipsis y quedar primeros en el <span class="label label-extra">Ranking</span> para ganar.</li>
                        <li>Se ha eliminado del juego la facción <span class="label label-extra">Neutral</span> al no tener sentido.</li>
                        <li>Mejorados los mensajes de error durante el login, el registro y la recuperación o cambio de contraseña.</li>
                        <li>Ahora es necesario introducir un correo electrónico válido para registrarse, ya que se enviará un enlace para activar la cuenta. Esta decisión se basa principalmente en evitar (o reducir) el número de jugadores con multicuenta. Jamás se usarán para mandar spam, ni siquiera del juego.</li>
                        <li>Ahora las <span class="label label-recipe">Recetas</span> de alquimia transmutan un solo <span class="label label-artifact">Artefacto</span> por otro en lugar de exigir dos, pero en su lugar exigen <span class="label label-artifact">Runas</span> para hacerlo.</li>
                        <li>Ahora los <span class="label label-quest">Mapas</span> de aventura otorgan más <span class="label label-artifact">Runas</span> dependiendo de la dificultad.</li>
                        <li>Ahora los <span class="label label-default">Logros</span> otorgan 5 <span class="label label-artifact">Runas</span> cada uno al ser desbloqueados.</li>
                        <li>Ahora pueden comprarse <span class="label label-artifact">Packs de Runas</span> en el Mercado, a través de PayPal.</li>
                        <li>Ahora puedes comentar en el apartado Ayuda usando Disqus. Si encuentras algún error, o tienes alguna sugerencia, avísame! También tenemos <a href="https://twitter.com/WyzardGame">Twitter</a>!</li>
                        <li>Ya estamos en una beta abierta! Si os gusta el juego, compartidlo con vuestros amigos! O invitadme a algo de vez en cuando!</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta abierta</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
            <div class="panel-heading text-center">Versión 1.4b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 4.</li>
                        <li>Se ha cambiado el nombre al juego, ahora es W&yuml;z&auml;rd.</li>
                        <li>Se ha adquirido un nuevo nombre de dominio.</li>
                        <li>Se ha implementado HTTPS usando certificados SSL de LetsEncrypt.</li>
                        <li>Se han reducido costes de turnos del Templo, la Alquimia y las Aventuras.</li>
                        <li>Ahora hay bots!</li>
                        <li>Ahora los <span class="label label-extra">Hechizos</span> comprados en subasta deben ser investigados de forma normal, por lo que los <span class="label label-extra">Gremios</span> seguirán siendo útiles. En compensación, se ha reducido el coste inicial de oro en subasta.</li>
                        <li>Ahora todas las imágenes e iconos son libres y gratuit@s!</li>
                        <li>Se ha reducido el tamaño de muchas imágenes para agilizar la carga de la web en dispositivos móviles.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta abierta</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.3b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 3.</li>
                        <li>El combate ha vuelto a su versión original. Ahora la <span class="label label-extra">Velocidad</span> vuelve a ser un factor importante, y las unidades más rapidas dañarán primero a las más lentas. Sin embargo, las tropas se emparejarán por su <span class="label label-extra">Poder</span> total, de mayor a menor, en lugar de por velocidad, como se venía haciendo hasta ahora.</li>
                        <li>A raíz de lo anterior, se han eliminado los Hechizos de <span class="label label-extra">Velocidad</span> y se han sustituido por otros nuevos:
                            <ul>
                                <li><span class="label label-info">Lentitud</span> por <span class="label label-info">Sabiduría</span>, reduce el número de <span class="label label-extra">Turnos</span> para investigar.
                                <li><span class="label label-danger">Quemar Alas</span> por <span class="label label-danger">Saquear</span>, encuentra <span class="label label-quest">Mapas</span>.</li>
                                <li><span class="label label-warning">Miedo</span> por <span class="label label-warning">Terror</span>, reduce <span class="label label-extra">Defensa Física</span> y <span class="label label-extra">Defensa Mágica</span> al Reino enemigo.</li>
                                <li><span class="label label-success">Prisa</span> por <span class="label label-success">Druidismo</span>, encuentra <span class="label label-recipe">Recetas</span>.</li>
                                <li><span class="label label-primary">Volar</span> por <span class="label label-primary">Oasis</span>, aumenta la cantidad de <span class="label label-extra">Tropas</span> invocadas en tu Reino.</li>
                            </ul>
                        </li>
                        <li>Ahora el daño en combate se redondea de manera clásica. Si se le hace mas de la mitad del daño a una unidad, muere. Es decir, ahora hay heridas.</li>
                        <li>Ahora los Artefactos, Hechizos y Unidades tienen niveles de rareza. Estos afectan a la frecuencia de apararición en el juego de cualquiera de las maneras habituales:
                            <ul>
                                <li><span class="label label-extra">Común</span>, como las diferentes <span class="label label-extra">Pociones</span>.</li>
                                <li><span class="label label-extra">Raro</span>, como las <span class="label label-extra">Brújulas Mágicas</span> o los <span class="label label-extra">Huevos de Dragón</span>.</li>
                                <li><span class="label label-legendary">Legendario</span>, como los <span class="label label-legendary">Anillos</span>.</li>
                            </ul>
                        </li>
                        <li>A raíz de lo anterior, se han añadido los siguientes <span class="label label-legendary">Artefactos</span> legendarios, que otorgan una habilidad pasiva permanente simplemente con poseerlos:
                            <ul>
                                <li><span class="label label-legendary">Anillo Avaricioso</span>, +10% producción de <span class="label label-extra">Oro</span> en tu Reino.</li>
                                <li><span class="label label-legendary">Anillo Encantador</span>, +10% producción de <span class="label label-extra">Personas</span> en tu Reino.</li>
                                <li><span class="label label-legendary">Anillo Poderoso</span>, +10% producción de <span class="label label-extra">Maná</span> en tu Reino.</li>
                                <li><span class="label label-legendary">Anillo Duro</span>, +10% de <span class="label label-extra">Defensa Física</span> y <span class="label label-extra">Defensa Mágica</span> en tu Reino.</li>
                                <li><span class="label label-legendary">Anillo Invocador</span>, +10% producción de <span class="label label-extra">Tropas</span> en tu Reino.</li>
                            </ul>
                        </li>
                        <li>Ahora los <span class="label label-artifact">Artefactos</span> en defensa solo duran una batalla, el mago deberá volver a colocarlo en defensa si así lo desea.</li>
                        <li>Se ha añadido el sistema de <span class="label label-recipe">Alquimia</span> al juego. Un jugador puede usar <span class="label label-recipe">Recetas</span> para convertir unos Artefactos en otros. Pueden conseguirse en la Subasta, y sólo se gastan si otorgan <span class="label label-legendary">Artefactos</span> legendarios. De lo contrario, son reutilizables.</li>
                        <li>Se ha añadido el sistema de <span class="label label-quest">Aventuras</span> al juego. Un jugador puede tratar de usar <span class="label label-quest">Mapas</span> para derrotar ejércitos que merodean por el Reino y obtener interesantes recompensas. Pueden conseguirse en la Subasta, y son de un sólo uso, ganes o pierdas. Hay varios tipos de dificultad, y las recompensas pueden varíar, y dar <span class="label label-artifact">Runas</span> o <span class="label label-legendary">Artefactos</span> legendarios.</li>
                        <li>Se ha introducido en el juego las <span class="label label-artifact">Runas</span>, una moneda de cambio empleada en el nuevo <span class="label label-artifact">Mercado</span>, una versión de la futura tienda con dinero interno del juego. Se pueden obtener completando mapas y en ocasiones especiales.</li>
                        <li>Se han añadido o modificado los siguientes Artefactos:
                            <ul>
                                <li><span class="label label-extra">Poción de Fuerza</span>, +30% <span class="label label-extra">Ataque</span> a tus tropas.</li>
                                <li><span class="label label-extra">Poción de Vitalidad</span>, +30% <span class="label label-extra">Defensa</span> a tus tropas.</li>
                                <li><span class="label label-extra">Poción de Agilidad</span>, renombrado de <span class="label label-extra">Botas de Velocidad</span> +1 <span class="label label-extra">Velocidad</span> a tus tropas.</li>
                                <li><span class="label label-extra">Poción de Amor</span>, renombrada de <span class="label label-extra">Elixir de Amor</span>, +30% <span class="label label-extra">Personas</span> a tu Reino.</li>
                                <li><span class="label label-extra">Poción de Pureza</span>, renombrada de <span class="label label-extra">Agua Bendita</span>, elimina un <span class="label label-extra">Encantamiento</span> aleatorio de tu Reino.</li>
                                <li><span class="label label-extra">Muñeca Voodoo</span>, hasta -25 <span class="label label-extra">Turnos</span> al Reino enemigo.</li>
                                <li><span class="label label-extra">Reloj de Arena</span>, hasta -100 <span class="label label-extra">Turnos</span> a los Encantamientos de tu Reino.</li>
                                <li><span class="label label-extra">Cuerno de Guerra</span>, invoca <span class="label label-extra">Humanos</span>.</li>
                                <li><span class="label label-extra">Demonio Embotellado</span>, renombrado de <span class="label label-extra">Calavera Maldita</span>.</li>
                                <li><span class="label label-extra">Barril de Pólvora</span>, ahora destruye un 3% de todos los <span class="label label-extra">Edificios</span> enemigos.</li>
                                <li><span class="label label-extra">Tela de Araña</span>, -2 <span class="label label-extra">Velocidad</span> a tus tropas.</li>
                            </ul>
                        </li>
                        <li>Se han añadido los siguientes Héroes:
                            <ul>
                                <li><span class="label label-info">Espiritista</span>, reduce el número de <span class="label label-extra">Turnos</span> para investigar.</li>
                                <li><span class="label label-success">Dríada</span>, aumenta la <span class="label label-extra">Defensa Mágica</span> de tu Reino.</li>
                                <li><span class="label label-danger">Súcubo</span>, aumenta el número de <span class="label label-extra">Tropas</span> invocadas.</li>
                                <li><span class="label label-primary">Campeón</span>, aumenta la <span class="label label-extra">Defensa Física</span> de tu Reino.</li>
                                <li><span class="label label-warning">Jinete sin Cabeza</span>, intercambiado con <span class="label label-warning">Nigromante</span>, resucita <span class="label label-warning">Esqueletos</span> tras una batalla que no sea un <span class="label label-quest">Mapa</span>.</li>
                            </ul>
                        </li>
                        <li>Ahora <span class="label label-success">Ladrona Elfa</span> elimina 1 turno por nivel, en lugar de ser porcentual.</li>
                        <li>Ahora <span class="label label-success">Control del Clima</span> ya no tiene reducción de recursos.</li>
                        <li>Se ha eliminado la posibilidad de reclutar tropas neutrales, y se han eliminado las tropas neutrales del juego:
                            <ul>
                                <li><span class="label label-extra">Arqueros</span></li>
                                <li><span class="label label-extra">Caballeros</span></li>
                                <li><span class="label label-extra">Catapultas</span></li>
                                <li><span class="label label-extra">Piqueros</span></li>
                                <li><span class="label label-extra">Milicias</span></li>
                            </ul>
                        </li>
                        <li>Ahora los <span class="label label-extra">Barracones</span> ya no permiten reclutar más deprisa, sino que aumentan la cantidad de <span class="label label-extra">Tropas</span> invocadas.</li>
                        <li>Ahora si tus <span class="label label-extra">Barreras</span> o <span class="label label-extra">Fortalezas</span> detienen un conjuro o ataque, algunas se verán destruidas en el proceso para simbolizar un desgaste, que se convertirán en tierras libres.</li>
                        <li>Ahora solo se subastará una unidad de <span class="label label-artifact">Artefacto</span> cada vez.</li>
                        <li>Ahora los <span class="label label-artifact">Artefactos</span> otorgan poder, y los <span class="label label-legendary">Artefactos</span> legendarios mucho más poder que los demás.</li>
                        <li>Se ha reducido el cap de poder superior al atacar del 80% al 60%.</li>
                        <li>Se ha duplicado el coste de mantenimiento de las <span class="label label-extra">Barreras</span> y <span class="label label-extra">Fortalezas</span>.</li>
                        <li>Se han ajustado muchos valores de salida de precios en la subasta, dependiendo de la rareza.</li>
                        <li>Se han ajustado muchos valores de poder de <span class="label label-extra">Edificios</span> para que sea más complicado saber si un mago tiene o no ejército en su Reino.</li>
                        <li>Se han ajustado muchos valores de ataques, defensas y mantenimientos de <span class="label label-extra">Tropas</span>.</li>
                        <li>Se han ajustado muchos valores de bonus de <span class="label label-extra">Héroes</span>.</li>
                        <li>Se han ajustado muchos valores de bonus de <span class="label label-extra">Encantamientos</span>.</li>
                        <li>Se han ajustado muchos valores de bonus de <span class="label label-extra">Hechizos</span>.</li>
                        <li>Se ha añadido una segunda condición de victoria, la <span class="label label-extra">Ira de los Dioses</span> consulta la ayuda para entender cómo funciona.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta cerrada</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.2b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 2.</li>
                        <li>Se ha añadido un cap de poder superior del 80% para no atacar a magos mucho más fuertes, evitando el exploit de crearse una cuenta para atacar a un mago top y contraatacar para robar tierras a la nueva cuenta.</li>
                        <li>Se ha eliminado el Artefacto <span class="label label-extra">Reloj de Arena</span>.</li>
                        <li>Se ha agregado el Artefacto <span class="label label-extra">Agua Bendita</span>.</li>
                        <li>Se ha eliminado la reducción de recursos del Hechizo <span class="label label-extra">Apocalipsis</span>, pero se ha incrementado su coste de mantenimiento y su coste de Maná al conjurarlo.</li>
                        <li>Se ha aumentado el número de turnos necesarios para ganar con <span class="label label-extra">Apocalipsis</span> de 600 a 900.</li>
                        <li>Se han ajustado valores de % bonus de muchos <span class="label label-extra">Héroes</span>, <span class="label label-extra">Hechizos</span> y <span class="label label-extra">Encantamientos</span>.</li>
                        <li>Se ha modificado el sistema de combate. Ahora, la superioridad en velocidad otorga un bonus de ataque del 5% por punto, en lugar de atacar primero, por lo que no es tan obligatoria como en versiones anteriores.</li>
                        <li>Se ha cambiado el sistema de subasta de puja en el último segundo a puja máxima con sobrepuja automática tipo eBay.</li>
                        <li>Se han eliminado los <span class="label label-extra">Hechizos</span> de nivel 5 de la subasta.</li>
                        <li>Se ha duplicado el bonus de defensa de las <span class="label label-extra">Fortalezas</span> y <span class="label label-extra">Barreras</span>.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta cerrada</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
            <div class="panel-heading text-center">Versión 1.1b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 1.</li>
                        <li>Se ha cambiado el funcionamiento de los artefactos <span class="label label-extra">Cofre del Tesoro</span> y <span class="label label-extra">Brújula Mágica</span> para que otorgen bonificaciones fijas en lugar de porcentuales.</li>
                        <li>Se ha añadido protección para que no se pueda atacar al mismo mago 2 veces en menos de 12h.</li>
                        <li>Se ha añadido un cap de poder inferior del 20% para no atacar a magos más débiles.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta cerrada</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
            <div class="panel-heading text-center">Versión 1.0a</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 0.</li>
                        <li>Testeo de la funcionalidad básica del juego en un entorno multijugador.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Alfa cerrada</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}