{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Parches{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-medkit"></i>Parches</h1>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.2b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 3.</li>
                        <li>Ahora los Artefactos, Hechizos y Unidades tienen niveles de rareza. Estos afectan a la frecuencia de apararición en el juego de cualquiera de las maneras habituales:
                            <ul>
                                <li><span class="label label-extra">Común</span>, como las diferentes <span class="label label-extra">Pociones</span>.</li>
                                <li><span class="label label-extra">Raro</span>, como las <span class="label label-extra">Brújulas Mágicas</span> o los <span class="label label-extra">Huevos de Dragón</span>.</li>
                                <li><span class="label label-legendary">Legendario</span>, como los <span class="label label-legendary">Anillos</span>.</li>
                            </ul>
                        </li>
                        <li>A raíz de lo anterior, se han añadido los siguientes <span class="label label-legendary">Artefactos</span> Legendarios, que otorgan una pasiva única con solo poseerlos:
                            <ul>
                                <li><span class="label label-legendary">Anillo Avaricioso</span>, +10% producción de Oro en tu Reino.</li>
                                <li><span class="label label-legendary">Anillo Poderoso</span>, +10% producción de Maná en tu Reino.</li>
                                <li><span class="label label-legendary">Anillo Duro</span>, +10% de Defensa Física y Mágica en tu Reino.</li>
                                <li><span class="label label-legendary">Anillo Encantador</span>, +10% producción de Personas en tu Reino.</li>
                                <li><span class="label label-legendary">Anillo Invocador</span>, +10% producción de Tropas en tu Reino.</li>
                            </ul>
                        </li>
                        <li>Se ha añadido el sistema de Alquimia al juego. Un jugador puede usar <span class="label label-recipe">Recetas</span> para convertir unos Artefactos en otros. Pueden conseguirse en la Subasta, y sólo se gastan si otorgan <span class="label label-legendary">Artefactos</span> legendarios. De lo contrario, son reutilizables.</li>
                        <li>Se ha añadido el sistema de Aventuras al juego. Un jugador puede tratar de usar <span class="label label-map">Mapas</span> para derrotar ejércitos que merodean por el Reino y obtener interesantes recompensas. Pueden conseguirse en la Subasta, y son de un sólo uso:
                            <ul>
                                <li>Fáciles, de color verde. Normalmente pocas tropas y hasta un Artefacto <span class="label label-extra">Común</span>.</li>
                                <li>Medios, de color amarillo. Normalmente moderadas tropas y hasta un Artefacto <span class="label label-extra">Raro</span>.</li>
                                <li>Difíciles, de color rojo. Normalmente muchas tropas y hasta un <span class="label label-legendary">Artefacto</span> legendario.</li>
                            </ul>
                        </li>
                        <li>Ahora el daño en combate se redondea de manera clásica. Si se le hace mas de la mitad del daño a una unidad, muere. Es decir, ahora hay heridas.</li>
                        <li style="color: red;">El combate ha vuelto a su versión original. Ahora la <span class="label label-extra">Velocidad</span> vuelve a ser un factor importante, y las unidades más rapidas dañarán primero a las más lentas. Sin embargo, las tropas se emparejarán por su <span class="label label-extra">Poder</span> total, de mayor a menor, en lugar de por velocidad.</li>
                        <li>A raíz de lo anterior, se han eliminado los Hechizos de <span class="label label-extra">Velocidad</span> y se han sustituido por otros nuevos:
                            <ul>
                                <li><span class="label label-info">Lentitud</span> por <span class="label label-info">Sabiduría</span>, reduce el número de <span class="label label-extra">Turnos</span> para investigar.
                                <li><span class="label label-danger">Quemar Alas</span> por <span class="label label-danger">Saquear</span>, encuentra <span class="label label-map">Mapas</span>.</li>
                                <li><span class="label label-warning">Miedo</span> por <span class="label label-warning">Terror</span>, reduce <span class="label label-extra">Defensa Física</span> y <span class="label label-extra">Defensa Mágica</span> al Reino enemigo.</li>
                                <li><span class="label label-success">Prisa</span> por <span class="label label-success">Druidismo</span>, encuentra <span class="label label-recipe">Recetas</span>.</li>
                                <li><span class="label label-primary">Volar</span> por <span class="label label-primary">Oasis</span>, aumenta la cantidad de <span class="label label-extra">Tropas</span> invocadas en tu Reino.</li>
                            </ul>
                        </li>
                        <li>También a raíz de lo anterior, se han reducido los bonus de <span class="label label-extra">Velocidad</span> de los siguientes Artefactos:
                            <ul>
                                <li><span class="label label-extra">Tela de Araña</span>, de -3 a -1 velocidad.</li>
                                <li><span class="label label-extra">Botas de Velocidad</span>, de +3 a +1 velocidad.</li>
                            </ul>
                        </li>
                        <li>Se han eliminado los siguientes Artefactos:
                            <ul>
                                <li><span class="label label-extra">Botas de Velocidad</span>, ha sido sustituido por <span class="label label-extra">Poción de Agilidad</span>.</li>
                                <li><span class="label label-extra">Elixir de Amor</span>, ha sido sustituido por <span class="label label-extra">Poción de Amor</span>.</li>
                                <li><span class="label label-extra">Agua Bendita</span>, ha sido sustituido por <span class="label label-extra">Poción de Pureza</span>.</li>
                            </ul>
                        </li>
                        <li>Se han añadido los siguientes Artefactos:
                            <ul>
                                <li><span class="label label-extra">Poción de Fuerza</span>, +30% <span class="label label-extra">Ataque</span> a tus tropas.</li>
                                <li><span class="label label-extra">Poción de Vitalidad</span>, +30% <span class="label label-extra">Defensa</span> a tus tropas.</li>
                                <li><span class="label label-extra">Poción de Agilidad</span>, +1 <span class="label label-extra">Velocidad</span> a tus tropas.</li>
                                <li><span class="label label-extra">Poción de Amor</span>, +30% <span class="label label-extra">Personas</span> a tu Reino.</li>
                                <li><span class="label label-extra">Poción de Pureza</span>, elimina un <span class="label label-extra">Encantamiento</span> de tu Reino.</li>
                                <li><span class="label label-extra">Muñeca Voodoo</span>, hasta -25 <span class="label label-extra">Turnos</span> al Reino enemigo.</li>
                                <li><span class="label label-extra">Reloj de Arena</span>, hasta -100 <span class="label label-extra">Turnos</span> a los Encantamientos de tu Reino.</li>
                                <li><span class="label label-extra">Cuerno de Guerra</span>, invoca <span class="label label-extra">Humanos</span>.</li>
                            </ul>
                        </li>
                        <li>Se han añadido los siguientes Héroes:
                            <ul>
                                <li><span class="label label-info">Espiritista</span>, reduce el número de <span class="label label-extra">Turnos</span> para investigar.</li>
                                <li><span class="label label-success">Dríada</span>, aumenta la <span class="label label-extra">Defensa Mágica</span> de tu Reino.</li>
                                <li><span class="label label-danger">Súcubo</span>, aumenta el número de <span class="label label-extra">Tropas</span> invocadas.</li>
                                <li><span class="label label-primary">Campeón</span>, aumenta la <span class="label label-extra">Defensa Física</span> de tu Reino.</li>
                                <li><span class="label label-warning">Jinete sin Cabeza</span>, intercambiado con <span class="label label-warning">Nigromante</span>, resucita <span class="label label-warning">Esqueletos</span> tras una batalla.</li>
                            </ul>
                        </li>
                        <li>Ahora <span class="label label-success">Ladrona Elfa</span> elimina 1 turno por nivel, en lugar de porcentual.</li>
                        <li>Ahora <span class="label label-success">Control del Clima</span> ya no tiene reducción de recursos.</li>
                        <li>Se ha eliminado la posibilidad de reclutar tropas neutrales, y se han eliminado las tropas neutrales del juego:
                            <ul>
                                <li><span class="label label-extra">Arqueros</span></li>
                                <li><span class="label label-extra">Caballeros</span></li>
                                <li><span class="label label-extra">Catapultas</span></li>
                                <li><span class="label label-extra">Piqueros</span></li>
                                <li><span class="label label-extra">Milicias</span></li>
                            </ul>
                        </li>
                        <li>Ahora los <span class="label label-extra">Barracones</span> ya no permiten reclutar más deprisa, sino que aumentan la cantidad de Tropas invocadas por hechizos.</li>
                        <li>Se han ajustado muchos precios de salida de la subasta dependiendo de la rareza.</li>
                        <li>Se han ajustado muchos valores de poder de <span class="label label-extra">Edificios</span> para que sea más complicado saber si un mago tiene o no ejército en su Reino.</li>
                        <li>Se han ajustado muchos valores de ataques, defensas y mantenimientos de <span class="label label-extra">Tropas</span>.</li>
                        <li>Se han ajustado muchos valores de bonus de <span class="label label-extra">Héroes</span>.</li>
                        <li>Se han ajustado muchos valores de bonus de <span class="label label-extra">Encantamientos</span>.</li>
                        <li>Ahora solo se subastará una unidad de <span class="label label-extra">Artefacto</span> cada vez.</li>
                        <li>Ahora los <span class="label label-extra">Artefactos</span> otorgan poder, y los <span class="label label-legendary">Artefactos</span> legendarios mucho más poder que los demás.</li>
                        <li>Se ha reducido el cap de poder superior al atacar del 80% al 60%.</li>
                        <li>Se ha duplicado el mantenimiento de las <span class="label label-extra">Barreras</span> y <span class="label label-extra">Fortalezas</span>.</li>
                        <li>Se ha introducido en el juego el Mercado de <span class="label label-rune">Runas</span>, una versión beta de la futura tienda.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta cerrada</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.1b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 2.</li>
                        <li>Se ha añadido un cap de poder superior del 80% para no atacar a magos mucho más fuertes, evitando el exploit de crearse una cuenta para atacar a un mago top y contraatacar para robar tierras a la nueva cuenta.</li>
                        <li>Se ha eliminado el Artefacto <span class="label label-extra">Reloj de Arena</span>.</li>
                        <li>Se ha agregado el Artefacto <span class="label label-extra">Agua Bendita</span>.</li>
                        <li>Se ha eliminado la reducción de recursos del Hechizo <span class="label label-extra">Apocalipsis</span>, pero se ha incrementado su coste de mantenimiento y su coste de Maná al conjurarlo.</li>
                        <li>Se ha aumentado el número de turnos necesarios para ganar con "Apocalipsis" de 600 a 900.</li>
                        <li>Se han ajustado valores de % bonus de muchos Héroes, Hechizos y Encantamientos.</li>
                        <li>Se ha modificado el sistema de combate. Ahora la superioridad en velocidad otorga un bonus de ataque del 5% por punto, en lugar de atacar primero, por lo que no es tan obligatoria como en versiones anteriores.</li>
                        <li>Se ha cambiado el sistema de subasta de puja en el úñtimo segundo a puja máxima con sobrepuja automática tipo eBay.</li>
                        <li>Se han eliminado los Hechizos de nivel 5 de la subasta.</li>
                        <li>Se ha duplicado el bonus de defensa de las <span class="label label-extra">Fortalezas</span> y <span class="label label-extra">Barreras</span>.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta cerrada</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.0b</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Comienza la Temporada 1.</li>
                        <li>Se ha cambiado el funcionamiento de los artefactos <span class="label label-extra">Cofre del Tesoro</span> y <span class="label label-extra">Brújula Mágica</span> para que otorgen bonificaciones fijas en lugar de porcentuales.</li>
                        <li>Se ha añadido protección para que no se pueda atacar al mismo mago 2 veces en menos de 12h.</li>
                        <li>Se ha añadido un cap de poder inferior del 20% para no atacar a magos más débiles.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta cerrada</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 0.1a</div>
                <div class="panel-body text-responsive">
                    <ul>
                        <li>Testeo de la funcionalidad básica del juego en un entorno multijugador.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Alfa cerrada</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}