{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Parches{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header text-center">
                <h1><i class="fa fa-fw fa-medkit"></i>Parches</h1>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.1b</div>
                <div class="panel-body text-responsive">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Comienza la Temporada 2.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha añadido un cap de poder superior del 80% para no atacar a magos mucho más fuertes, evitando el exploit de crearse una cuenta para atacar a un mago top y contraatacar para robar tierras a la nueva cuenta.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha eliminado el artefacto "Reloj de Arena" del juego.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha agregado el artefacto "Agua Bendita" al juego.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha eliminado la reducción de recursos del "Apocalipsis", pero se ha incrementado su coste de mantenimiento y su coste de Maná al conjurarlo.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha aumentado el número de turnos necesarios para ganar con "Apocalipsis" de 600 a 900.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se han ajustado valores de % bonus de muchos héroes, hechizos y encantamientos.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha modificado el sistema de combate. Ahora la superioridad en velocidad otorga un bonus de ataque del 5% por punto, en lugar de atacar primero, por lo que no es tan obligatoria como en versiones anteriores.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha cambiado el sistema de subasta de puja en el úñtimo segundo a puja máxima con sobrepuja automática tipo eBay.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se han eliminado los hechizos de nivel 5 de la subasta.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha duplicado el bonus de defensa de las Fortalezas y Barreras.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta cerrada</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 1.0b</div>
                <div class="panel-body text-responsive">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Comienza la Temporada 1.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha cambiado el funcionamiento de los artefactos "Cofre del Tesoro" y "Brújula Mágica" para que otorgen bonificaciones fijas en lugar de porcentuales.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha añadido protección para que no se pueda atacar al mismo mago 2 veces en menos de 12h.</li>
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Se ha añadido un cap de poder inferior del 20% para no atacar a magos más débiles.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Beta cerrada</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Versión 0.1a</div>
                <div class="panel-body text-responsive">
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-fw fa-lg fa-check-square"></i>Testeo de la funcionalidad básica del juego en un entorno multijugador.</li>
                    </ul>
                </div>
                <div class="panel-footer text-center">Alfa cerrada</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}