@font-face {
    font-family: 'AntykwaTorunskaBold';
    font-style: normal;
    font-weight: 400;
    src:    url(/bundles/archmagegame/css/AntykwaTorunskaRegular.ttf) format('truetype'),
            url(/bundles/archmagegame/css/AntykwaTorunskaRegular.woff) format('woff')
    ;
}