/* default background for each faction */
img.background {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
/* responsive mobile background */
@media screen and (max-width: 1024px){
    img.background {
        left: 50%;
        margin-left: -512px; }
}
.panel, .jumbotron, .alert, .navbar, .progress, .progress-bar, .well {
    opacity: 0.95;
    box-shadow: 10px 10px 20px black;
}
.page-header {
    margin-top: 0px;
}
.page-header, .jumbotron > hr {
    border-color: white;
}
.panel-body {
    padding: 0;
}
img {
    max-width: 100%;
    min-height: 150px;
    min-width: 150px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
/*
.panel-body {
    background: url('../../../bundles/archmagegame/images/background/panel.jpg') no-repeat center center;
    background-size: cover;
}
.panel-body .list-group-item {
    background: none;
    color: black;
}
*/
.thumbnail img:hover {
    transition:all 0.3s ease;
    border-radius:50%;
}
