/* default background for each faction */
img.background {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
/* responsive mobile background */
@media screen and (max-width: 768px){
    img.background {
        left: 50%;
        margin-left: -512px; }
}
.panel, .jumbotron, .alert, .navbar, .well, .table, ul.pagination {
    opacity: 0.90;
    box-shadow: 3px 3px 15px black;
}
.page-header {
    margin-top: 0px;
}
.page-header, .jumbotron > hr {
    border-color: white;
}
.panel-body {
    padding: 0;
}
.panel-body .text-padded {
    padding-top: 5px;
    padding-left: 0px;
}
.panel-body p {
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 15px;
    margin: 0px;
}
.text-only {
    padding: 15px;
}
.text-lore {
    text-align: right;
    margin-top: 4px;
    color: #cc7c26;
}
.panel > .btn-group > .btn {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
@media screen and (max-width: 400px) {
    .text-responsive {
        font-size:10px !important;
    }
    .alert.ribbon {
        line-height: 3 !important;
    }
}
@media screen and (min-width: 401px) and (max-width: 700px) {
    .text-responsive {
        font-size:12px !important;
    }
}
img.custom-thumbnail {
    max-width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.6);
}
img.custom-rspls {
    max-width: 75%;
    border-radius: 50%;
}
img.custom-icon {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: inherit !important;
}
.label {
    font-size: 95%;
    padding: 0.2em 0.4em 0.2em 0.4em;
}
.label-extra {
    background-color: #000000;
}
.input-group-addon.label-full {
    width: 50% !important;
}
.link {
    text-decoration: underline !important;
}
img.factions {
    width: 80%;
    margin-top: 5px;
}
/* Sticky footer styles
--------------------------------------------------
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here
    box-shadow: -10px -10px 20px #000;
    margin-bottom: 0px;
}
*/
.navbar-right {
    margin-right: 0px;
}
.navbar-collapse.collapsing {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
}
.input-group-addon {
    padding: 0px;
}
.input-group-addon img {
    width: 38px;
    height: 38px;
}
.form-group {
    margin-bottom: 0px;
}
.custom-input {
    margin-top: 11px !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}
/* LOGIN */
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 0px;
}
.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 0px;
}
.form-signin .form-control {
    border-radius: 6px;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .bootstrap-select {
    padding: 0px !important;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-top: 10px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
}
.form-signin input[type="password"] {
    margin-top: -1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,0,0,0.08);
}
.form-signin input[type="email"] {
    margin-top: -1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.form-signin button {
    margin-top: 10px;
}
.form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
/* PANEL FOOTER INPUT GROUP FULL SIZE */
.form-inline .input-group {
    width: 100%;
}
.has-feedback .form-control {
    padding-right: 34px;
}
/* PROFILE */
.box-icon {
    border-radius: 50%;
    display: table;
    max-width: 100%;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: 0px;
}
/* TR PRIMARY WHITE */
.table > thead > tr > td.primary, .table > tbody > tr > td.primary, .table > tfoot > tr > td.primary, .table > thead > tr > th.primary, .table > tbody > tr > th.primary, .table > tfoot > tr > th.primary, .table > thead > tr.primary > td, .table > tbody > tr.primary > td, .table > tfoot > tr.primary > td, .table > thead > tr.primary > th, .table > tbody > tr.primary > th, .table > tfoot > tr.primary > thm .progress-bar-primary, .alert-primary {
    background-color: #E9E9E9;
}
.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
}
.panel-primary .panel-heading, .primary, .primary a, .panel-primary > .panel-heading a, .progress-bar-primary, span.label-primary, span.label-primary a, .label-primary, .alert-primary, .btn-primary {
    color: black !important;
}
.progress-bar-default {
    background-color: #3E444C !important;
}
.alert-default {
    background-color: #3E444C;
    border-color: #2E3338;
}
/* DATATABLES */
div.dataTables_paginate, div.dataTables_filter {
    text-align: center !important;
}
table a {
    text-decoration: none !important;
}
table a:hover {
    text-decoration: underline !important;
}
.table-bordered {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
}
/* NAVBAR PADDING FOR COLLAPSABLE COL-SM DEVICES */
.nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}
.form-inline .input-group > .form-control {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
/* INPUT SIZE EN CHROME DISTINTO DE FIREFOX, MUY PEQUEÑO, ARREGLADO CON */
@media (min-width: 768px) {
    .form-inline .input-group > .form-control {
        min-width: 220px !important;
        max-width: 220px !important;
    }
}
html {-webkit-text-size-adjust: none !important;}
/* ARREGLAR BORDES BLANCOS EN BOOTSRAP SELECT */
.bootstrap-select {
    border-radius: 3px !important;
    background-color: inherit !important;
}
/* FONTAWESOME */
.fa {
    margin-right: 2px !important;
}
.panel-middle {
    padding: 10px 15px;
    background-color: #3E444C;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
/* RIBBONS */
.alert-dismissible .close {
    position: relative;
    top: 0px;
    color: inherit;
    right: 0px;
}
.alert.ribbon {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
}
.alert.ribbon:before {
    left: -35px;
    border-width: 17px;
}
.alert.ribbon:after {
    right: -35px;
    border-width: 17px;
}
.alert.ribbon:before, .alert.ribbon:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    top: 3px;
}
.alert.alert-default:before {
    border-color: #757575 #757575 #757575 transparent;
}
.alert.alert-default:after {
    border-color: #757575 transparent #757575 #757575;
}
.alert.alert-primary:before {
    border-color: #c5c5c5 #c5c5c5 #c5c5c5 transparent;
}
.alert.alert-primary:after {
    border-color: #c5c5c5 transparent #c5c5c5 #c5c5c5;
}
.alert.alert-success:before {
    border-color: #1e5b07 #1e5b07 #1e5b07 transparent;
}
.alert.alert-success:after {
    border-color: #1e5b07 transparent #1e5b07 #1e5b07;
}
.alert.alert-info:before {
    border-color: #1A4D9F #1A4D9F #1A4D9F transparent;
}
.alert.alert-info:after {
    border-color: #1A4D9F transparent #1A4D9F #1A4D9F;
}
.alert.alert-warning:before {
    border-color: #6330a7 #6330a7 #6330a7 transparent;
}
.alert.alert-warning:after {
    border-color: #6330a7 transparent #6330a7 #6330a7;
}
.alert.alert-danger:before {
    border-color: #9f0c25 #9f0c25 #9f0c25 transparent;
}
.alert.alert-danger:after {
    border-color: #9f0c25 transparent #9f0c25 #9f0c25;
}