{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Investigar{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-xs-12">
                <div class="page-header text-center">
                    <h1><i class="fa fa-fw fa-graduation-cap"></i>Investigar</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}