{% extends "ArchmageGameBundle::layout.html.twig" %}

{% block title %}Investigar{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header text-center">
                    <h1>Magia <i class="fa fa-fw fa-lg fa-graduation-cap"></i> <small>Investigar hechizos</small></h1>
                </div>
                {% set levels = ['danger','warning','success'] %}
                {% for i in 1..random(10) %}
                    {% set percent = random(100) %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-{{ levels[percent / 34] }}" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ percent }}%;">
                            {{ percent }}%
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}